.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}

.gird-items {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;

}

.gird-items > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.gird-items > div > div {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
    
}

body,#btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

#btn {
    background-color: black;
    color: white;
    font-weight: 200;
    border-radius: 5px;
    padding: 3px;
}

#delete {
    background-color: black;
    color: white;
    font-weight: 300;
    border-radius: 5px;

}